.section2{
    background-color: var(--white);
}

.section-bottom{
    background-color: var(--white);
}
.boxItems{
    background-color: var(--white) !important;
    flex-wrap: wrap;
    padding: 40px 0px;
}
.boxItem{
    background-color: var(--white) !important;
    max-width: 50%;
}
.colored_card{
    margin: 0;
}

.item-info-list{
    color: black !important;
}

.pagination-section{
    padding: 30px 0px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.pagination-section ul{
    list-style: none;
    display: flex;
    justify-content: stretch;
    flex-wrap: wrap;
    padding: 0px 20px;
}

.pagination-section ul li, .pagination-section span{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    box-shadow: 6px 5px 39px -14px rgba(0, 0, 0, 0.56);
    margin: 0px 3px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    color: var(--green);
    transition: all .4s ease;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -ms-transition: all .4s ease;
    -o-transition: all .4s ease;
}
.pagination-section ul li:hover, .pagination-section span:hover{
    box-shadow: 6px 5px 39px -5px rgba(0, 255, 0, 0.56);
}
.pagination-section ul li a{
    text-decoration: none;
    color: var(--green)
}

@media screen and (max-width: 1000px){
    .boxItem{
        min-width: 50%;
        max-width: 50%;
    }
}

@media screen and (max-width: 760px){
    .boxItem{
        min-width: 100%;
        padding: 10px 5px !important;
    }
}